@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #F0F1F4, #899593);
  font-size: 1em;
}

header {
  text-align: center;
  padding: 2em 0;
  background-color: #2C3632;
  color: #F0F1F4;
}

nav {
  text-align: center;
  padding: 2.5em 0;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #2C3632;
  font-family: 'Righteous', cursive;
  font-size: 1.2em;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

hr {
  background-color: #2C3632;
  padding: 2px;
  width: 15em;
  margin: auto;
  margin-bottom: 3em;
  border-radius: 50%;
  border:none;
}

.intro, main {
color: #2C3632;
padding: 1em;
width: 90%;
margin: auto;
}

h1, h2 {
  font-family: 'Righteous', cursive;}

h2 {
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1.5em;
  font-family: 'Roboto', sans-serif;
}

span {
  font-weight: bold;
}

@media(min-width: 47em) {

  body {
    font-size: 1.2em;
  }

  .intro, main {
    width: 60%;
  }
}

@media(min-width: 64.125em) {

}

@media(min-width: 94em) {

}
